.search-container {
    display: flex;
    justify-content: flex-end;
  }
  thead {
    // background: white;
    & tr {
      & th {
        color: rgb(136, 0, 52) !important;
        font-size: 14px !important;
      }
    }
  }
  .v-input {
    max-height: 38px !important;
  }
  .v-select__slot {
    & .v-label {
      color: black !important;
    }
  }

  // .v-input {
  //   max-height: 35px !important;
  // }
  .text-area-max-height {
    max-height: 110px !important;
  }
  